<div id="matchup" ng-controller="MatchupController">
	<div class="matchupContainer">
		<div class="card movie col s5" id="movieA" ng-click="newmatchup(movieA)">
			{{movieA.title}}<hr/>{{movieA.score | number : 0}}<hr/><img ng-show="movieA.imgUrl" src={{movieA.imgUrl}} />
		</div>
		<div class="card movie col s5" id="movieB" ng-click="newmatchup(movieB)">
			{{movieB.title}}<hr/>{{movieB.score | number : 0}}<hr /><img ng-show="movieB.imgUrl" src={{movieB.imgUrl}} />
		</div>
	</div>
	<div>
		<button class="valign waves-effect waves-light btn" ng-click="neither(movieA, movieB)">Both of these are awful!</button>
	</div>

</div>